.ml-auto {
    margin-left: auto;
}

#chat {
    min-height: 100%;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
}

#chatContent {
    height: 500px;
    overflow-y: scroll;
}

.userMessage {
    border-radius: 10px 10px 0 10px;
}

.botMessage {
    border-radius: 10px 10px 10px 0;
}


#chatContent p {
    box-sizing: border-box;
    padding: 5px;
    width: 45%;
}

.loading {
    position: relative;
    overflow: hidden;
}

.loading::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
        70deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.5) 60%,
        rgba(255, 255, 255, 0)
    );
    animation: shimmer 2s infinite;
    transform: translateX(-100%);
    content: '';
}
@keyframes shimmer {
    100% {
    transform: translateX(100%);
    }
}