#contenulogin {
  color: %menu_color% !important;
}

#boxlogin legend {
  color: %menu_color% !important;
}

#boxlogin input {
  border: 1px solid %menu_color% !important;
}

#firstboxlogin {
  background-color: %primary_color% !important;
}

#text-login {
  color: white !important;
  background-color: %menu_color% !important;
}

#logo_login {
  background: %menu_color% !important;
}

input {
  &[type="image"] {
    background-color: transparent !important;
  }

  &.submit {
    background-color: %button_color% !important;
  }
}

.vsubmit {
  background-color: %button_color% !important;
}
