$primary-color:             %primary_color%;
$secondary-color:           %secondary_color%;


$primary-text-color:        %primary_text_color%;
$secondary-text-color:      %secondary_text_color%;

$header-background-color:   %header_background_color%;
$header-text-color:         %header_text_color%;

$nav-background-color:      %nav_background_color%;
$nav-text-color:            %nav_text_color%;
$nav-submenu-color:         %nav_submenu_color%;
$nav-hover-color:           %nav_hover_color%;

$favorite-color:            %favorite_color%;