$break_sphones: 490px;
$break_phones: 700px;
$break_lphones: 900px;
$break_menu: 1055px;
$break_tablets: 1300px;

.radio .outer {
  border: 3px solid %primary_color% !important;
}

#header #c_logo {
  width: %logo_width%px !important;
  background: url("%logo%") !important;
  background-size: 100% !important;
}

#header #c_preference {
  ul {
    li {
      a {
        color: %header_icons_color% !important;
      }
    }
  }
}

#firstboxlogin {
  background-color: %primary_color% !important;
}

#header_top {
  background-color: %primary_color% !important;
}

#c_preference a, #language_link > span {
  color: #fff !important;
}

#c_recherche form #champRecherche input {
  background-color: #131425 !important;
  color: #fff !important;
}

#c_recherche form #champRecherche button {
  background-color: white !important;
}

.x-button.x-button-drop.planned:after {
  color: %primary_color% !important;
}

#logo_login {
  background: %menu_color% !important;
}

#text_login {
  color: white !important;
  background-color: %menu_color% !important;
}

#c_menu {
  background-color: %menu_color% !important;
}

.main_form tr.headerRow th {
  color: %menu_active_color% !important;
}

.primary-fg, .primary-fg:link, .primary-fg:hover {
  color: white !important;
}

ul {
  &#menu {
    a {
      &.itemP, &.itemP1 {
        color: %menu_text_color% !important;
      }
    }

    > li.active {
      background-color: %menu_active_color% !important;
    }
  }

  &.ssmenu {
    background-color: %dropdown_menu_background_color% !important;
  }

  &.ssmenu li.active {
    background-color: %menu_active_color% !important;
  }

  &#menu {
    > li:hover {
      background-color: %menu_onhover_color% !important;
    }

    ul li a {
      &:hover {
        background: %menu_color% !important;
        color: %dropdown_menu_text_hover_color% !important;
      }

      color: %dropdown_menu_text_color% !important;
    }
  }
}

div.progress {
  .progress-fg {
    background-color: %menu_active_color% !important;
  }
}

a.copyright {
  color: #000 !important;
}

a:hover {
  color: black !important;
}

.showplan {
  color: %menu_color% !important;
}

ul#onglet {
  border-bottom: 1px solid #ffffff !important;
}

ul#onglet li {
  background-color: #eeeeee !important;
  border-bottom: 1px solid #fff !important;
}

ul#onglet li.actif {
  border-bottom: 1px ridge %menu_color% !important;
}

ul#onglet li.invisible {
  border-bottom: 1px solid #fff !important;
}

ul#onglet li.actif a {
  color: #000 !important;
}

#onglet a {
  color: #666 !important;
}

#onglet a:hover {
  color: %menu_color% !important;
}

ul#onglet span.fake {
  color: #666 !important;
}

#contenulogin {
  color: %menu_color% !important;
}

#boxlogin legend {
  color: %menu_color% !important;
}

#boxlogin input {
  border: 1px solid %menu_color% !important;
}

#logo-login a:hover {
  color: %menu_color% !important;
}

#c_preference {
  .select2-choice {
    color: %menu_color% !important;
  }
}

#c_ssmenu2 ul li a {
  color: #000 !important;
}

#show_all_menu{
  dt {
    color: white !important;
    background-color: %primary_color% !important;
  }

  a:hover {
    background-color: %menu_color% !important;
  }
}
.primary-fg-inverse {
  color: %menu_color% !important;

  &:hover {
    color: %menu_color% !important;
  }
}

#page .kanban {
  .kanban-container {
    .kanban-dropdown {
      li {
        &:hover {
          background-color: %menu_color% !important;
        }
      }
      li.dropdown-trigger {
        &.active {
          background-color: %menu_color% !important;
        }
      }
    }
  }
}

.ui-widget-content.message_after_redirect {
  background: %alert_background_color% !important;
}
.message_after_redirect.info_msg div.ui-widget-header {
  background: %alert_header_background_color%;
  background-color: %alert_header_background_color%;
  border-color: %alert_header_background_color%;
  span {
    color: %alert_header_text_color%;
  }
}


.ui-widget-content {
  color: %alert_text_color% !important;
}

.tab_cadre th, .tab_cadre_fixe th, .tab_cadre_fixehov th, .tab_cadrehov th, h2.header {
  background-color: %table_header_background_color% !important;
  color: %table_header_text_color% !important;
  a {
    color: %table_header_text_color% !important;
  }
}

.tab_cadre td a, .tab_cadre_fixe td a, .tab_cadre_fixehov td a, .tab_cadrehov td a, h2.header {
  color: %object_name_color% !important;
}

.order_DESC:before {
  color: #B3B3B3 !important;
}

.order_ASC:before {
  color: #B3B3B3 !important;
}

@media screen and (min-width: $break_tablets) {
  .layout_vsplit {
    .ui-tabs-panel .tab_cadre_fixehov th {
      background-color: #E6E6E6 !important;
    }
  }
}

.secondary {
  background-color: %secondary_button_background_color% !important;
  color: %secondary_button_text_color% !important;
}

.secondary:hover {
  box-shadow: 0px 1px 1px %secondary_button_box_shadow_color% !important;
}

input {
  &[type="image"] {
    background-color: transparent !important;
  }

  &.submit {
    background-color: %submit_button_background_color% !important;
    color: %submit_button_text_color% !important;
  }
  
  &.submit:hover {
    box-shadow: 0px 1px 1px %submit_button_box_shadow_color% !important;
  }
}

.vsubmit {
  background-color: %vsubmit_button_background_color% !important;
  color: %vsubmit_button_text_color% !important;
}

.vsubmit:hover {
  box-shadow: 0px 1px 1px %vsubmit_button_box_shadow_color% !important;
}

.breadcrumb_item {
  &:nth-of-type(1), &:nth-of-type(2) {
    background-color: #F2F2F2 !important;

    &:after {
      border-left-color: #F2F2F2 !important;
    }
  }

  &:nth-of-type(3) {
    background-color: %button_color% !important;

    &:after {
      border-left-color: %button_color% !important;
    }
  }
}

.x-button {
  background-color: %button_color% !important;

  &:hover {
    background-color: %button_color% !important;
  }
}

.warning {
  background-color: %button_color% !important;
}

