body {
  background-color: #000000 !important;
}

.radio .outer {
  border: 3px solid #000000 !important;
}

#firstboxlogin {
  background-color: #000000 !important;
}

#header_top {
  background-color: #000000 !important;
}

.x-button.x-button-drop {
  &.planned:after {
    color: #000000 !important;
  }
}

.itilstatus {
  color: #000000 !important;
}